
body, div, p, li, a, input, textarea {
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
	line-height: 17px;
}
body {
	background-color: #777;
	color: black;
}
body > div {
	border: solid 1px black;
}

.clear {
	display: block;
	clear: both;
	height: 0;
}


#buttons {
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	padding: 0px;
	border: 0;
	overflow: hidden;
}
#logoutBtn {
	float: right;
}

input {
	font-size: 17px;
}

button {
	display: inline-block;
	padding: 6px;
	margin-left: 5px;
	font-size: 15px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	line-height: 12px;
}
button:hover {
}

button.doorOpened {
	background-color: #8f8;
}
button.manuallyOpened {
	background-color: #f8f;
}
.cardPattern {
	cursor: hand;
	margin: 0px;
	padding: 0;
	margin-bottom: 3px;
}
.cardPattern th {
	padding-left: 4px;
	padding-right: 4px;
}
.cardPattern input[type=checkbox] {
	cursor: hand;
	-moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
	width: 14px;
	height: 12px;
	padding: 0;
	margin: 0;
	overflow: hidden;
	clip: rect(0 0 0 0); 
	outline: solid 2px #ccc;
	background-color: #f22
}
.cardPattern input[type=checkbox]:checked {
	background-color: #2f2;
}
.cardPattern input[type=checkbox].currentHour {
	outline: solid 2px #33f !important;
}
.cardPattern input[type=checkbox]:disabled {
	background-color: #888 !important;
}

.cardlist {
	position: absolute;
	top: 40px;
	left: 5px;
	width: 230px;
	bottom: 5px;
	padding: 6px;
	overflow: auto;
	border-radius: 7px;
	background-color: #eee;
}

.details {
	position: absolute;
	top: 40px;
	left: 255px;
	right: 5px;
	height: 310px;
	padding: 6px;
	overflow: auto;
	border-radius: 7px;
	background-color: #eee;
}


.details .cardavatarimg {
	position: inline-block;
	float: left;
	left: 10px;
	background-size: 100%;
	background-position: center top;
	background-repeat: no-repeat;
	width: 130px;
	height: 130px;
	margin-right: 10px;
	border: solid 1px #888;
	border-radius: 5px;
	margin: 10px
}
.details div {
	padding: 2px;
	min-height: 1.5em;
}
.details label {
	display: inline-block;
	width: 6em;
	line-height: 1em;
	vertical-align: top;
	padding: 5px;
}

.details span, .details input, .details pre, .details textarea {
	width: 50%;
}
.details span, .details pre {
	display: inline-block;
	background-color: #ddd;
	padding: 2px;
	cursor: text;
}
.details span {
	white-space: nowrap;
	overflow: hidden;
}
.details span, .details input {
	line-height: 1em;
	min-height: 1em;
	font-size: 17px;
}
.details pre, .details textarea {
	font-size: 12px;
	min-height: 3em;
}
.details pre {
	overflow-wrap: break-word;
	overflow: visible;
}
.details textarea {
	margin-top: 11px;
	margin-bottom: 11px;
}




.loglist {
	position: absolute;
	left: 255px;
	right: 5px;
	top: 370px;
	bottom: 5px;
	padding: 6px;
	overflow: auto;
	border-radius: 7px;
	background-color: #eee;
}


.card {
	min-height: 52px;
	margin-top: 2px;
	border: solid 1px #888;
	border-radius: 5px;
	padding: 2px;
	margin-bottom: 5px;
	cursor: pointer;
	-moz-box-shadow: 0 1px 5px #888;
	-webkit-box-shadow: 0 1px 3px #888;
	box-shadow: 0 1px 5px #888;	
	background-color: #ccf;
}
.card * {
		cursor: pointer;
}
.selected.card {
	border: solid 1px #222;
	background-color: #aad;
}

.log {
	margin-bottom: 5px;
	cursor: hand;
	border: solid 1px #888;
	border-radius: 5px;
	padding: 2px;
	clear: left;
	-moz-box-shadow: 0 1px 5px #888;
	-webkit-box-shadow: 0 1px 5px #888;
	box-shadow: 0 1px 5px #888;	
	background-color: #eef;
	padding-left: 5px;
}

.log.STARTUP {
	background-color: #f63;
	color: white;
}
.log.ERROR {
	background-color: #f33;
	color: white;
}
.log.NOACCESS {
	background-color: #f88;
}
.log.ACCESS {
	background-color: #8f8;
}
.log.OPENED {
	background-color: #ff8;
}
.log.REMOVED {
	background-color: #fdd;
}
.log.ADDED {
	background-color: #dfd;
}

.log .type {
	min-width: 90px;
	padding-right: 5px;
	font-weight: bold;
	display: inline-block;
	float: left;
}
.log .reader {
	min-width: 90px;
	padding-right: 5px;
	display: inline-block;
	float: left;
}
.log .text {
	display: inline-block;
	float: left;
	min-width: 225px;
}

.log .timestamp {
	float: right;
	padding-right: 3px;
	color: #444;
}

.avatar {
	border: solid 1px #888;
	border-radius: 3px;
	background-size: 100%;
	background-position: center top;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 5px;
}

#login {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 10%;
	background-color: rgba(0,0,0,0.8);
	display: none;
}
#login span {
	color: white;
	font-weight: bold;	
}
