
body, div, p, li, a, input, textarea {
	font-family: helvetica, arial, sans-serif;
}
body {
	background-color: #777;
	color: black;
}
body > div {
	border: solid 1px black;
}

input, textarea {
	font-size: 17px;
	padding: 3px;
}

#buttons {
	position: absolute;
	top: 5px;
	left: 5px;
	padding: 0px;
	border: 0;
	overflow: hidden;
}

button {
	display: inline-block;
	padding: 6px;
	margin-left: 5px;
	font-size: 15px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	line-height: 12px;
}
button:hover {
}

#cards {
	position: absolute;
	top: 40px;
	left: 5px;
	width: 230px;
	bottom: 5px;
	padding: 6px;
	overflow: auto;
	border-radius: 7px;
	background-color: #eee;
}

#details {
	position: absolute;
	top: 40px;
	left: 255px;
	right: 5px;
	height: 200px;
	padding: 6px;
	overflow: auto;
	overflow: auto;
	border-radius: 7px;
	background-color: #eee;
}

#details span {
	display: inline-block;
	width: 120px;
}

#cardavatarimg {
	position: inline-block;
	float: left;
	left: 10px;
	background-size: 100%;
	background-position: center top;
	background-repeat: no-repeat;
	width: 110px;
	height: 130px;
	margin-right: 10px;
	border: solid 1px #888;
	border-radius: 5px;
}

#log {
	position: absolute;
	left: 255px;
	right: 5px;
	top: 260px;
	bottom: 5px;
	padding: 6px;
	overflow: auto;
	border-radius: 7px;
	background-color: #eee;
}


.card {
	height: 52px;
	margin-top: 2px;
	border: solid 1px #888;
	border-radius: 5px;
	padding: 2px;
	margin-bottom: 5px;
	cursor: hand;
	-moz-box-shadow: 0 1px 5px #888;
	-webkit-box-shadow: 0 1px 3px #888;
	box-shadow: 0 1px 5px #888;	
	background-color: #ccf;
}

.log {
	margin-bottom: 5px;
	cursor: hand;
	border: solid 1px #888;
	border-radius: 5px;
	padding: 2px;
	clear: left;
	-moz-box-shadow: 0 1px 5px #888;
	-webkit-box-shadow: 0 1px 5px #888;
	box-shadow: 0 1px 5px #888;	
	background-color: #eef;
}

.log.STARTUP {
	background-color: #ff3;
	color: white;
}
.log.ERROR {
	background-color: #f33;
	color: white;
}
.log.NOACCESS {
	background-color: #f88;
}
.log.ACCESS {
	background-color: #8f8;
}
.log.OPENED {
	background-color: #ff8;
}
.log.REMOVED {
	background-color: #fdd;
}
.log.ADDED {
	background-color: #dfd;
}

.log .clear {
	display: block;
	clear: left;
	height: 0;
}
.log .timestamp {
	float: right;
	padding-right: 3px;
	color: #444;
}

.avatar {
	border: solid 1px #888;
	border-radius: 3px;
	background-size: 100%;
	background-position: center top;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 5px;
}

#login {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 10%;
	background-color: rgba(0,0,0,0.8);
	display: none;
}
